<h2 id="style-guide-brand-colours" class="style-guide-title">Colour swatches</h2>

<div class="util-Clearfix">
	<div class="Swatch">
		<div class="Swatch_Background "><code>#D94E3A</code></div>
		<p class="Swatch_Description">Primary (Red)</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-Accent"><code>#7DC9DA</code></div>
		<p class="Swatch_Description">Accent (Blue)</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-WarmGrey"><code>#504C4C</code></div>
		<p class="Swatch_Description">Warm Grey</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-LightGrey"><code>#EFF1EF</code></div>
		<p class="Swatch_Description">Light Grey</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-DarkGrey"><code>#353535</code></div>
		<p class="Swatch_Description">Dark Grey</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-Beige"><code>#F4EFE6</code></div>
		<p class="Swatch_Description">Beige</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-MediumGrey"><code>#737373</code></div>
		<p class="Swatch_Description">Medium grey</p>
	</div>

	<div class="Swatch">
		<div class="Swatch_Background Background-Brown"><code>#4F4641</code></div>
		<p class="Swatch_Description">Brown</p>
	</div>

	<div class="Swatch">
		<hr />
		<p class="Swatch_Description">Border Colour <code>#d9d9d9</code></p>
	</div>

</div>


<div class="StyleGuide_Documentation">

	<h4>Usage Instructions</h4>
	<p><b>HTML Classes.</b> You can use class names to set an element background color.</p>
	<pre><code>Background-Primary /* Red */
Background-Accent /* Blue */
Background-WarmGrey
Background-LightGrey
Background-DarkGrey
Background-Beige
Background-MediumGrey
Background-Brown</code></pre>
	<p><b>SASS Variables.</b> You can also use variables in SASS.</p>
	<pre><code class="language-sass">$color-primary // Red
$color-accent // Blue
$color-warm-grey
$color-light-grey
$color-dark-grey
$color-beige
$color-medium-grey
$color-brown</code></pre>

</div>


