<h2>Diffs</h2>

<div id="Diffs-1" class="Diff">
</div>

<script>
	var diffData = [
		{
			containerId: 'Diffs-1',
			versions: [
				{
					'id': 1,
					'content': 'Nulla at nulla justo, eget luctus tortor.\n\nNulla facilisi. Duis aliquet egestas purus in blandit.\n\nCurabitur vulputate.\n\n',
				},
				{
					'id': 2,
					'content': 'Nulla at test nulla justo, eget luctus tortor.\n\nBibendum non venenatis nisl tempor.\n\nNulla facilisi. Duis aliquet egestas purus in blandit.\n\n',
				}
			]
		}
	];
</script>
