<h2 id="style-guide-components-loading" class="style-guide-title">Loading Indicators</h2>

<div class="StyleGuide_LoadingIndicators">

	<div class="StyleGuide_LoadingIndicator_Container"> <!-- Note container is only used for the style guide -->
		<span class="Loading Loading-Active"></span> Loading
	</div>

	<button class="Btn"><span class="Loading Loading-Active"></span>Loading</button>

</div>

<div class="StyleGuide_Documentation">

	<h4>Usage Instructions</h4>
	<p>Loading spinner. Toggle the active state by adding / removing the <code>Loading-Active</code> class.</p>
	<h4>Examples</h4>
	<pre><code class="language-html">&lt;span class=&quot;Loading Loading-Active&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;Loading&quot;&gt;&lt;/span&gt;</code></pre>

</div>
