<h2 id="style-guide-brand-logos" class="style-guide-title">Human Made Logos</h2>

<h4>Primary Logo</h4>

<div class="HMLogos HMLogos-primary">

	<div class="HMLogo-Container">
		<h1 class="HMLogo">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Red">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-White">HM</h1>
	</div>

</div>

<h4>Alternate Logo</h4>

<div class="HMLogos HMLogos-alternate">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt HMLogo-Red">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Alt HMLogo-White">HM</h1>
	</div>

</div>

<h4>Small Logo</h4>

<div class="HMLogos HMLogos-small">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small HMLogo-Red">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Small HMLogo-White">HM</h1>
	</div>

</div>

<h4>Tiny Logo</h4>

<div class="HMLogos HMLogos-Tiny">

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny HMLogo-Red">HM</h1>
	</div>

	<div class="HMLogo-Container">
		<h1 class="HMLogo HMLogo-Tiny HMLogo-White">HM</h1>
	</div>

</div>

<div class="StyleGuide_Documentation">

	<h4 class="StyleGuide_Documentation_Header">Usage Instructions</h4>

	<div class="StyleGuide_Documentation_Content">
		<p>There are a several different logos variations available for you to use, in 3 different colors.</p>
		<p>The logos are scalable SVGs. You can resize these as you need, but be sure to maintain the correct aspect ratio! We've also included some margins around the logos, which you can override as required, but make sure you give it enough space to breath!</p>
		<p><b>Usage</b> You can use the classes documented below directly in your HTML, or you can extend them in your SCSS.</p>
		<p><b>Logo variations.</b> You can use the following class names to style an element using one of the 4 logo variations.<code>HMLogo</code>, <code>HMLogo-Alt</code>, <code>HMLogo-Small</code> and <code>HMLogo-Tiny</code></p>
		<p><b>Colour variations.</b> Logos are available in black (default), red and white. Each logo variation is available in each color variation, just use the class name in addition to the logo variation class. <code>HMLogo-Red</code> and <code>HMLogo-White</code>. Black does not require a colour variation CSS class.</p>
	<p><b>Examples.</b></p>
	<pre><code class="language-html">&lt;span class=&quot;HMLogo&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Standard logo --&gt;
&lt;span class=&quot;HMLogo-Alt&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Alternate logo --&gt;
&lt;span class=&quot;HMLogo-Small&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Small logo --&gt;
&lt;span class=&quot;HMLogo-Tiny&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Tiny logo --&gt;
&lt;span class=&quot;HMLogo&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Black, standard logo --&gt;
&lt;span class=&quot;HMLogo HMLogo-Red&quot;&gt;Human Made&lt;/span&gt;&lt;!-- Red, standard logo --&gt;
&lt;span class=&quot;HMLogo HMLogo-White&quot;&gt;Human Made&lt;/span&gt;&lt;!-- White, standard logo --&gt;
</code></pre>

	</div>
</div>


