/**
 * This is only used for the documentation pages,
 * and you do not need to include this file in your project.
 */

@import "style";

.container {

	max-width: 40rem;
	margin: auto;

	@media #{ $mq-md-down } {
		max-width: calc( 100% - #{ $gutter-width * 4 } );
	}

	@media #{ $mq-sm-down } {
		max-width: calc( 100% - #{ $gutter-width * 2 } );
	}

}

/**
 * For previewing a list/grid of logos.
 * This is used in the pattern library.
 */
.HMLogos {
	display: flex;
	flex-wrap: wrap;
}

.HMLogo-Container {

	width: auto;
	&:nth-child( n ) { background-color: white; }
	&:nth-child( 2n ) { background-color: $hm-beige; }
	&:nth-child( 3n ) { background-color: $hm-primary; }

	.HMLogo {
		vertical-align: top;
	}
}

.pattern-library-title {

	@include text-xxl;
	position: relative;

	&:before {
		content: " ";
		display: block;
		@extend .HMLogo;
		@extend .HMLogo-Small;
		@extend .HMLogo-Red;

		margin: 0 0 $base-line-height;

		@media #{ $mq-md-up } {
			position: absolute;
			left: -130px;
			transform: scale( 1.75 );
			top: 34px;
			margin: 0;
		}

	}
}

.pattern-library-subtitle {
	@include text-md;
	margin-top: -1.94375rem;
	font-style: italic;
}

.NavAccordions {

	@extend .util-Clearfix;
	clear: both;

	.NavAccordion {
		padding: $base-line-height / 2 $gutter-width / 2;
		width: 100%;

		@media #{ $mq-sm-up } {
			width: 33.333%;
			float: left;
		}
	}
}

.StyleGuide_LoadingIndicators {

	.StyleGuide_LoadingIndicator_Container {
		display: inline-block;
		padding: #{ $base-line-height / 2 } $gutter-width;
	}

	.Btn {
		margin: 0;
	}
}

.StyleGuide_Documentation {
	margin: $base-line-height auto;
	padding: #{ $base-line-height / 2 } $gutter-width;
	border: 1px solid $border-color;
	border-radius: 2px;
}

.StyleGuide_Documentation_Header {
	margin: #{ $base-line-height / 2 } auto;
}


// Pattern Library Swatches
.Swatch {

	float: left;
	width: 50%;
	display: block;

	@media ( min-width: 600px ) {

		width: 25%;

		&:nth-child( #{"4n + 1"} ) {
			clear: left;
		}
	}
}

.Swatch_Background {

	height: $base-line-height * 2;
	line-height: $base-line-height * 2;
	display: block;
	text-align: center;

	@media ( min-width: 600px ) {
		display: block;
		width: auto;
		height: $base-line-height * 4;
		line-height: $base-line-height * 4;
	}

	code {
		background: rgba( 255, 255, 255, 0.4 );
	}
}

.Swatch_Description {
	@include text-sm;
	display: block;
	text-align: center;
	margin:  #{ $base-line-height * .375 } 0;
}

.style-guide-title-has-anchor {

	margin-left: calc( -1.5rem - #{ $gutter-width / 2 } );
	padding-left: calc( 1.5rem + #{ $gutter-width / 2 } );

	.style-guide-title-anchor {
		display: inline-block;
		position: relative;
		visibility: hidden;
		width: 1.5rem;
		height: 1.5rem;
		background: url( "#{ $hm-images }/icons/icon-link-red.svg" ) center center no-repeat;
		background-size: 100%;
		overflow: hidden;
		text-indent: 100%;
		margin-left: calc( -1.5rem - #{ $gutter-width / 2 } );
		margin-right: $gutter-width / 2;
	}

	&:hover .style-guide-title-anchor {
		visibility: visible;
	}
}
