@import "style";
@import "components/Swatch";


/**
 * For previewing a list/grid of logos.
 * This is used in the pattern library.
 */
.HMLogos {
	display: flex;
	flex-wrap: wrap;
}

.HMLogo-Container {

	width: auto;
	&:nth-child( n ) { background-color: white; }
	&:nth-child( 2n ) { background-color: $hm-light-beige; }
	&:nth-child( 3n ) { background-color: $hm-primary; }

	.HMLogo {
		margin: .5em;
		vertical-align: top;
	}
}

.pattern-library-title {

	position: relative;

	&:before {
		content: " ";
		display: block;
		@extend .HMLogo;
		@extend .HMLogo-Small;
		@extend .HMLogo-Red;

		position: absolute;
		left: -130px;
		transform: scale( 1.75 );
		top: 34px;
	}
}

.pattern-library-subtitle {
	@include text-md;
	margin-top: -1.94375rem;
	font-style: italic;
}

.grid-row {
	@include grid-row;
}

.grid-item {

	@include grid-item( 3, 12 );

	@media #{ $mq-md-down } {
		@include grid-item( 1, 2 );
	}

	@media #{ $mq-sm-down } {
		@include grid-item( 1, 1 );
	}

	> span {
		display: block;
		background: rgba( 0, 0, 0, 0.1 );
		min-height: 200px;
	}

}
